 # Archivos de la compilación
*.exe
*.o

# Carpetas de configuración de VS Code
.vscode/

# Archivos de registro, si los tienes
*.log

# Carpetas de librerías/dependencias (si las usas)
/node_modules
capitulo4/ejemplo1.cpp
capitulo4/ejemplo1.exe
capitulo4/ejemplo2.cpp
capitulo4/ejemplo3.cpp
capitulo4/ejemplo4.cpp
capitulo4/ejemplo5.cpp
capitulo4/ejemplo6.cpp
capitulo4/ejemplo7.cpp
capitulo4/ejemplo8.cpp
capitulo4/ejemplo9.cpp
capitulo4/ejemplo10.cpp
capitulo4/ejemplo11.cpp
capitulo4/ejemplo12.cpp
capitulo4/ejemplo13.cpp
capitulo4/ejemplo14.cpp
capitulo4/ejemplo15.cpp
capitulo4/ejemplo16.cpp
capitulo4/ejemplo17.cpp
capitulo4/ejemplo18.cpp
capitulo4/ejemplo19.cpp
capitulo4/ejemplo20.cpp
capitulo4/ejemplo21.cpp
capitulo4/ejemplo22.cpp
capitulo4/ejemplo23.cpp
capitulo4/ejemplo24.cpp
capitulo4/ejemplo25.cpp
capitulo4/ejemplo26.cpp
capitulo4/ejemplo27.cpp
capitulo4/ejemplo27.exe
